environment:
  - secure-saas-infra/staging
config:
  aws:region: us-east-1
  secure-saas-infra:stackKind: backup
  secure-saas-infra:deploymentMode: disabled
  secure-saas-infra:organizationName: deus
  secure-saas-infra:environment: backup-staging
  secure-saas-infra:backup:
    replicaRegion: us-west-2
    vaultLockEnabled: true
    vaultLockMinRetentionDays: 35
    vaultLockMaxRetentionDays: 2555
    vaultLockChangeableForDays: 3
    createPlan: true
    dailyScheduleExpression: "cron(0 5 ? * * *)"
    backupIntervalMinutes: 1440
    restoreTestIntervalDays: 30
    coldStorageAfterDays: 60
    deleteAfterDays: 180
    selectionTags:
      - key: Backup
        value: required
